# Distribution file for the Example project.
# http://www.openengine.dk/wiki/Projects/city

# main repository
darcs / http://openengine.dk/code/openengine
darcs-dev / fh.daimi.au.dk:/users/cgd/code/openengine


# project repository
# (uncomment the following two lines after uploading your project)
darcs /projects/city http://openengine.dk/code/projects/city
darcs-dev /projects/city fh.daimi.au.dk:/users/cgd/code/projects/city

dist /extensions/GambitScheme/GambitScheme.dist http://openengine.dk/code/extensions/GambitScheme/GambitScheme.dist
dist /extensions/Assimp/Assimp.dist  http://www.openengine.dk/code/extensions/Assimp/Assimp.dist

# required extensions
darcs /extensions/SetupHelpers           http://openengine.dk/code/extensions/SetupHelpers
darcs /extensions/HUD                    http://openengine.dk/code/extensions/HUD
darcs /extensions/TinyScheme             http://openengine.dk/code/extensions/TinyScheme
darcs /extensions/FaceBuilder            http://openengine.dk/code/extensions/FaceBuilder
darcs /extensions/SDL                    http://openengine.dk/code/extensions/SDL
darcs /extensions/IRC                    http://openengine.dk/code/extensions/IRC
darcs /extensions/Qt                    http://openengine.dk/code/extensions/Qt
darcs /extensions/MeshUtils                    http://openengine.dk/code/extensions/MeshUtils
darcs /extensions/Sockets                    http://openengine.dk/code/extensions/Sockets
darcs /extensions/SDLImage               http://openengine.dk/code/extensions/SDLImage
darcs /extensions/SDLFont         http://openengine.dk/code/extensions/SDLFont
darcs /extensions/CairoResource          http://openengine.dk/code/extensions/CairoResource
darcs /extensions/GenericHandlers        http://openengine.dk/code/extensions/GenericHandlers
darcs /extensions/OpenGLRenderer         http://openengine.dk/code/extensions/OpenGLRenderer
darcs /extensions/OpenGLSelection         http://openengine.dk/code/extensions/OpenGLSelection
darcs /extensions/TGAResource            http://openengine.dk/code/extensions/TGAResource
darcs /extensions/OBJResource            http://openengine.dk/code/extensions/OBJResource
darcs /extensions/AccelerationStructures http://openengine.dk/code/extensions/AccelerationStructures

darcs-dev /extensions/SetupHelpers           fh.daimi.au.dk:/users/cgd/code/extensions/SetupHelpers
darcs-dev /extensions/HUD                    fh.daimi.au.dk:/users/cgd/code/extensions/HUD
darcs-dev /extensions/TinyScheme             fh.daimi.au.dk:/users/cgd/code/extensions/TinyScheme
darcs-dev /extensions/FaceBuilder            fh.daimi.au.dk:/users/cgd/code/extensions/FaceBuilder
darcs-dev /extensions/SDL                    fh.daimi.au.dk:/users/cgd/code/extensions/SDL
darcs-dev /extensions/SDLFont                fh.daimi.au.dk:/users/cgd/code/extensions/SDLFont
darcs-dev /extensions/IRC                    fh.daimi.au.dk:/users/cgd/code/extensions/IRC
darcs-dev /extensions/Sockets                fh.daimi.au.dk:/users/cgd/code/extensions/Sockets
darcs-dev /extensions/OpenGLRenderer         fh.daimi.au.dk:/users/cgd/code/extensions/OpenGLRenderer
darcs-dev /extensions/OpenGLSelection        fh.daimi.au.dk:/users/cgd/code/extensions/OpenGLSelection
darcs-dev /extensions/TGAResource            fh.daimi.au.dk:/users/cgd/code/extensions/TGAResource
darcs-dev /extensions/OBJResource            fh.daimi.au.dk:/users/cgd/code/extensions/OBJResource
darcs-dev /extensions/AccelerationStructures fh.daimi.au.dk:/users/cgd/code/extensions/AccelerationStructures
darcs-dev /extensions/GenericHandlers        fh.daimi.au.dk:/users/cgd/code/extensions/GenericHandlers
# windows libraries
win32 /libraries http://openengine.dk/data/libraries/boost-win32.zip
win32 /libraries http://openengine.dk/data/libraries/glew-win32.zip
win32 /libraries http://openengine.dk/data/libraries/sdl-win32.zip
win32 /libraries http://openengine.dk/data/libraries/dlls-win32.zip

# darwin libraries
darwin /libraries http://openengine.dk/data/libraries/pcre-osx-i32.zip
darwin /libraries http://openengine.dk/data/libraries/pcrecpp-osx-i32.zip

# linux libraries

# project data

any /projects/city/data/Fonts  http://openengine.dk/data/fonts/freefont-ttf-20090104.tar.gz
